.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url('../../assets/img/flags.png') no-repeat;
}


.flag.flag-gb {
    background-position: -16px 0;
}

.flag.flag-es {
    background-position: 0 0;
}
