
  <div *ngIf="product.title" class="card ">
    <img class="card-img-top" 
    [src]="product.imageUrl" 
    alt="{{product.title}}" 
    style="max-width:100%"
    *ngIf="product.imageUrl">

    <div class="card-body text-center">
      <h5 class="card-title">{{product.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{product.category}}</h6>
      <p class="card-text">{{product.price | currency: 'USD'}}</p>
       <!-- temporary buttons -->
       <div class="row no-gutters text-center">
        <div class="col-3">
          <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button>
        </div>
        <div class="col align-self-center">  in cart</div>
        <div class="col-3">
          <button class="btn btn-secondary btn-block shift-right" (click)="addToCart()">+</button>
        </div>
      </div>
      <!-- temporary buttons -->
    </div>

    <div class="card-footer" *ngIf="showActions && shoppingCart">
       <div class="row no-gutters">
         <div class="col-2">
          <a (click)="openModal(template)"
          ProductModalDirective
          class="btn btn-primary">
          <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
         </div>
         <div class="col">
            <button (click)="addToCart()"
            class="btn btn-success btn-block"
            > <!--*ngIf="shoppingCart.getQuantity(product) == 0; else updateQuantity"-->
            Add to cart <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </button>
            <!-- temporary buttons -->
            <div class="row no-gutters text-center">
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button>
              </div>
              <div class="col align-self-center">  in cart</div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block shift-right" (click)="addToCart()">+</button>
              </div>
            </div>
            <!-- temporary buttons -->
            <ng-template #updateQuantity>
              <app-product-quantity 
              [product]="product" 
              [shopping-cart]="shoppingCart">
              </app-product-quantity>
            </ng-template>
         </div>
         <div class="col-2">
          <a [routerLink]="['/products/', product.title]" class="btn btn-warning">
            <i class="fa fa-book" aria-hidden="true"></i>
          </a>
         </div>
       </div>
    </div>
  </div>

   <!-- Modal Template-->
   <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{product.title}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <img [src]="product.imageUrl" alt="{{ product.title }}" class="img-responsive" style="max-height:200px;">
        <p>Category: {{product.category}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success">Add to Basket</button>
    </div>
  </ng-template>