
  <h1>Product-list works!</h1>
  
  <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success">New Product</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <a 
        href="#" 
        class="list-group-item clearfix" 
        *ngFor="let product of products">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ product.name }}</h4>
            <p class="list-group-item-text">{{ product.snippet }}</p>
          </div>
          <div class="pull-right">
           <img 
           [src]="product.imagePath"
           alt="product-name" 
           class="img-responsive" style="max-height: 100px;">
          </div>
        </a>
        <app-product></app-product>
      </div>
    </div>
    
    
  
