<div class="row">
  <div class="col-xs-10">
    <app-user-basket-edit></app-user-basket-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group-item" style="cursor: pointer"
      *ngFor="let product of products">
      <div class="row">
        <div class="col-xs-2"> 
          <img [src]="product.imageUrl" alt="product-img" style="max-height:70px;">
        </div>
        <div class="col-xs-3">
            {{ product.name }}
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control">
          </div>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-danger">Remove</button>
        </div>
      </div> 
      </a>
    </ul>
  </div>
</div>