<h1>Shopping Cart</h1>


<ng-container *ngIf="cart$ | async as cart">
    <p>You have {{ cart.totalItemsCount }} items in your shopping cart.</p>

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td style="width:50%">
                    <img class="mr-3" src="{{item.imageUrl}}" class="img-cart" alt="{{item.title}}">  
                    {{ item.title }}   
                </td>
                <td>
                    <app-product-quantity 
                    [product]="item">
                    </app-product-quantity>
                </td>

                <td>{{ (item.totalPrice || 0) | currency: 'USD' }}</td>
            </tr>     
        </tbody>
        <tfoot>
            <tr>
                <th>Total:</th>
                <th></th>
                <th>{{ cart.totalPrice | currency: 'USD'}}</th>
            </tr>
        </tfoot>
    </table>
</ng-container>

