.card{
    margin-bottom:50px;
}
.card-footer{
    padding:0;
}
button{
    border-radius:0;
}
a{
    border-radius:0;
}

a, button:hover{
    cursor:pointer;
}


a.btn-warning{
    float:right;
    width:100%;
}
.shift-right{
    position:relative;
    left:2px;
}

.card-img-container{
    width: 100%;
    height: 190px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.card-img-container > img {
    border-radius: 0.25rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }