/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$primary-color: #0a996e;

body{
    padding-top:80px;
    overflow-y: scroll;
}

.navbar-dark .navbar-brand {
    color:$primary-color;
}
.list-group-item.active{
    background-color: $primary-color;
    border-color: $primary-color;
}